@font-face {
    font-family: Roboto;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf');
}


.last-visit {
    /* box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: .2px;
    align-items: center;
    /* background-color: #202124; */
    background-color: #fec006;
    border: none;
    border-radius: 4px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    min-height: 52px;
    padding: 8px 24px;
    padding-right: 52px;
    position: fixed;
    text-align: left;
    white-space: normal;
    z-index: 9999;
    
}

.last-visit .message{
    margin: 10px 0;
    margin-right: 24px;
    line-height:1.2;
}

.last-visit .actions{
    
    margin-right: 24px;
}

.last-visit .actions .btn{
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    outline: none;
    /* color: #8ab4f8; */
    color: #FE4406;
    margin-left: 8px;
    min-width: auto;
    padding: 0 8px;
    text-decoration: none;
    line-height:1.2;
}

.last-visit .actions .btn::before{
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /* background: #8ab4f8; */
    background: #C0FE06;
    border-radius: 4px;
    transform: scale(0);
    transition-property: transform,opacity;
}

.last-visit .actions .btn:active::before {
    opacity: 0.12;
    transform: scale(1);
    opacity: 0.3;
}
.last-visit .actions .btn:hover::before {
    opacity: 0.06;
    outline: 1px solid transparent;
    transform: scale(1);
    opacity: 0.2;
}
.last-visit .actions .btn:focus::before {
    opacity: 0.12;
    outline: 1px solid transparent;
    transform: scale(1);
    opacity: 0.3;
}

.last-visit .close {
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    line-height:1.2;
}

.last-visit .close .icon {
    height: 20px;
    width: 20px;
    opacity: 0.70;
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/close_white_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.last-visit .close::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    z-index: -1;
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
    background: none;
    border-radius: 50%;
    box-sizing: border-box;
    transform: scale(0);
    transition-property: transform,opacity;
}

.last-visit .close:active::before {
    background-color: rgba(255,255,255,0.302);
    border: none;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
}
.last-visit .close:focus::before {
    background-color: rgba(255,255,255,0.302);
    border: none;
    box-shadow: inset 0 0 0 1px #fff;
    opacity: 1;
    transform: scale(1);
}
.last-visit .close:hover::before {
    background-color: rgba(255,255,255,0.2);
    border: none;
    box-shadow: none;
    opacity: 1;
    transform: scale(1);
}

